* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: Helvetica, sans-serif,helvetica, sans-serif, serif;
}

.star {
    font-size: 30px;
    padding: 10px;
}

.star::before,
.star:after {
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    line-height: 4px;
    vertical-align: middle;
    background-color: white;
}

.star-dark {
    font-size: 30px;
    padding: 10px;
}

.star-dark::before,
.star-dark:after {
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    line-height: 4px;
    vertical-align: middle;
    background-color: black;
}
/* /common */

/* header */

header {
    height: 60px;
    background-color: #2C3E50;
}
header h1 {
    font-size: 25px
}

header ul {
    margin: 0;
}

header ul a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.collapsed-menu {
    display: block;
}

.v-line {
    line-height: 60px;
}

.ms_hamburger-menu {
    display: none;
    color: white;
    font-size: 25px;
}

/* /header */

/* jumbotron */

#jumbo {
    height: 400px;
    background-color: #1ABC9C;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* /jumbotron */

/* main */

.ms_portfolio-item {
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: auto;
}

#about {
    background-color: #1ABC9C;
}

#contact-me input {
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid grey;
}

#contact-me textarea {
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid grey;
    height: 150px;
}

.ms_btn {
    color: white;
    background-color: #1ABC9C;
    border-radius: 5px;
    padding: 10px 20px;
}
/* /main */

/* footer */

footer {
    height:250px;
}

.footer-top {
    background-color: #3A546D;
}

.footer-top .row p {
    font-size: 15px;
}

.footer-top .row p span {
    color: #1ABC9C;
}

.footer-top .row i {
    font-size: 25px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50% ;
}

.footer-bottom {
    height: 60px;
    background-color: #2C3E50;
}

/* /footer */

/* media queries  */

@media screen and (max-width: 1000px) {
    .collapsed-menu {
        display: none;
    }

    .ms_hamburger-menu {
        display: block;
    }
}
/* /media queries  */


/* debug */

/* .debug header .row {
    height: 100%;
    background-color: red;
} */

/* .debug #jumbo .container {
    height: 100%;
    background-color: salmon;
} */

/* .debug #portfolio .container{
    height: 100%;
    background-color: sandybrown;
} */

/* .debug #about .container {
    height: 100%;
    background-color: slateblue;
} */

/* .debug #contact-me .container {
    height: 100%;
    background-color: slategrey;
} */

/* .debug .footer-top .container {
    height: 100%;
    background-color: yellow;
} */

/* .debug .footer-top .row {
    height: 100%;
}

.debug .footer-top .col-4 {
    height: 100%;
} */
