* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: helvetica, sans-serif, serif;
}
/* /common */

/* header */

header {
    height: 60px;
    background-color: #2C3E50;
}

/* /header */

/* jumbotron */

#jumbo {
    height: 400px;
    background-color: #1ABC9C;
}

/* /jumbotron */

/* main */

#portfolio {
    height: 500px;
}

#about {
    height: 300px;
    background-color: #1ABC9C;
}

#contact-me {
    height: 500px;
}

/* /main */

/* footer */

footer {
    height:250px;
}

.footer-top {
    height: calc(100% - 60px);
    background-color: #3A546D;
}

.footer-bottom {
    height: 60px;
    background-color: #2C3E50;
}
/* /footer */


/* debug */


